{% extends "site_base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}Profil{% endblock %}

{% block body %}
{% include "_staff_bar.html" %}

<div class="jumbotron">
  <h1>I Skate Paris</h1>
    {% for licence in membre.licences.all %}
        {% if not licence.paiement_complet %}
        <p>Votre inscription est enregistré. Pour la valider, il vous reste à la payer.<p>
        {% include "_stripe.html" %}
        {% include "_cheque.html" %}
        {% endif %}
    {% endfor %}
  <p>
  Bienvenue sur votre profil utilisateur!
  </p>

  <table class="user-account table-striped">
    {% if membre.photo %}
    <tr>
      <th>{% trans "Photo" %}</th>
      <td><img class="user-photo" src="{{ membre.photo.url }}" alt="{% trans "Photo" %}"/></td>
    </tr>
    {% endif %}
    <tr>
      <th>{% trans "Email" %}</th>
      <td>{{ membre.user.email }}</td>
    </tr>
    <tr>
      <th>{% trans "First name" %}</th>
      <td>{{ membre.nom }}</td>
    </tr>
    <tr>
      <th>{% trans "Last name" %}</th>
      <td>{{ membre.prenom }}</td>
    </tr>
    <tr>
      <th>{% trans "Sexe" %}</th>
      <td>{{ membre.get_sexe_display }}</td>
    </tr>
    <tr>
      <th>{% trans "Adresse" %}</th>
      <td>
        {% if membre.adresse1 %}{{ membre.adresse1 }}<br/>{% endif %}
        {% if membre.adresse2 %}{{ membre.adresse2 }}<br/>{% endif %}
        {{ membre.code_postal }} {{ membre.ville }}<br/>
      </td>
    </tr>
    <tr>
      <th>{% trans "Téléphone" %}</th>
      <td>{{ membre.telephone }}</td>
    </tr>
    <tr>
      <th>{% trans "Date de naissance" %}</th>
      <td>{{ membre.date_de_naissance }}</td>
    </tr>
  </table>

  <h2>Contact en cas d'urgence</h2>
  <table class="user-account table-striped">
    <tr>
      <th>{% trans "Nom" %}</th>
      <td>{{ membre.contact_nom }}</td>
    </tr>
    <tr>
      <th>{% trans "Téléphone" %}</th>
      <td>{{ membre.contact_telephone }}</td>
    </tr>
    <tr>
      <th>{% trans "Email" %}</th>
      <td>{{ membre.contact_email }}</td>
    </tr>
  </table>

  <h2>Licenses FFRS</h2>
  <table class="user-account table-striped">
    <thead>
      <th>Saison</th>
      <th>Numéro</th>
      <th>Certificat valide</th>
      <th>Paiement valide</th>
    </thead>
    <tbody>
      {% for licence in membre.licences.all %}
      <tr>
        <td>{{ licence.saison }}</td>
        <td>{{ licence.num_licence }}</td>
        <td>
          {% if licence.certificat_valide %}{% trans "Oui" %}{% else %}{% trans "Non" %}{% endif %}
          {% if membre.licences.last.certificat %}
          <a href="{{ membre.licences.last.certificat.url }}"><i class="fas fa-paperclip"></i></a>
          {% endif %}
        </td>
        <td>{% if licence.paiement_complet %}{% trans "Oui" %}{% else %}{% trans "Non" %}{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
