{% extends "site_base.html" %}
{% load i18n %}
{% load static %}

{% block body %}
<div class="jumbotron">
  <h1>I Skate Paris &mdash; Profil</h1>
  <p>
  Bienvenue sur votre profil utilisateur!
  </p>

  <table class="user-account table-striped">
    {% if user.membre.photo %}
    <tr>
      <th>{% trans "Photo" %}</th>
      <td><img class="user-photo" src="{{ user.membre.photo.url }}" alt="{% trans "Photo" %}"/></td>
    </tr>
    {% endif %}
    <tr>
      <th>{% trans "Email" %}</th>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <th>{% trans "First name" %}</th>
      <td>{{ user.membre.nom }}</td>
    </tr>
    <tr>
      <th>{% trans "Last name" %}</th>
      <td>{{ user.membre.prenom }}</td>
    </tr>
    <tr>
      <th>{% trans "Sexe" %}</th>
      <td>{{ user.membre.get_sexe_display }}</td>
    </tr>
    <tr>
      <th>{% trans "Adresse" %}</th>
      <td>
        {% if user.membre.adresse1 %}{{ user.membre.adresse1 }}<br/>{% endif %}
        {% if user.membre.adresse2 %}{{ user.membre.adresse2 }}<br/>{% endif %}
        {{ user.membre.code_postal }} {{ user.membre.ville }}<br/>
      </td>
    </tr>
    <tr>
      <th>{% trans "Téléphone" %}</th>
      <td>{{ user.membre.telephone }}</td>
    </tr>
    <tr>
      <th>{% trans "Date de naissance" %}</th>
      <td>{{ user.membre.date_de_naissance }}</td>
    </tr>
  </table>

  <h2>Contact en cas d'urgence</h2>
  <table class="user-account table-striped">
    <tr>
      <th>{% trans "Nom" %}</th>
      <td>{{ user.membre.contact_nom }}</td>
    </tr>
    <tr>
      <th>{% trans "Téléphone" %}</th>
      <td>{{ user.membre.contact_telephone }}</td>
    </tr>
    <tr>
      <th>{% trans "Email" %}</th>
      <td>{{ user.membre.contact_email }}</td>
    </tr>
  </table>

  <h2>Licenses FFRS</h2>
  <table class="user-account table-striped">
    <thead>
      <th>Saison</th>
      <th>Numéro</th>
      <th>Certificat valide</th>
      <th>Paiement valide</th>
    </thead>
    <tbody>
      {% for licence in user.membre.licences.all %}
      <tr>
        <td>{{ licence.saison }}</td>
        <td>{{ licence.num_licence }}</td>
        <td>{% if licence.certificat_valide %}{% trans "Oui" %}{% else %}{% trans "Non" %}{% endif %}</td>
        <td>{% if licence.paiement_complet %}{% trans "Oui" %}{% else %}{% trans "Non" %}{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
