{% extends "site_base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}Inscription{% endblock %}

{% block extra_head %}
{{ wizard.form.media }}
{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% for step, label in form_labels.items %}
    {% if wizard.steps.step1 == step %}
    <li class="breadcrumb-item active" aria-current="page">{{ label }}</li>
    {% else %}
    <li class="breadcrumb-item"><a href="javascript:goto({{ step }})">{{ label }}</a></li>
    {% endif %}
    {% endfor %}
  </ol>
</nav>

<div class="panel panel-default">
  <div class="panel-body">
    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {% bootstrap_form form layout='horizontal' %}
        {% endfor %}
    {% else %}
        {% bootstrap_form wizard.form layout='horizontal' %}
    {% endif %}
    <div class="btn-group float-right" role="group" aria-label="Basic example">
        {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" class="btn btn-light" value="{{ wizard.steps.prev }}" formnovalidate>{% trans "Previous" %}</button>
        {% endif %}
        <input type="submit" class="btn btn-primary" value="{% if wizard.steps.step1 == wizard.steps.count %}{% trans "Submit" %}{% else %}{% trans "Next" %}{% endif %}"/>
    </div>
    </form>
  </div>
</div>
<script>
    function goto(step) {
        var button = document.querySelector('[name=wizard_goto_step]');
        button.value = step - 1;
        button.form.submit();
    }
</script>
{% endblock %}
