{% extends "site_base.html" %}
{% load i18n %}

{% block extra_head %}
{{ wizard.form.media }}
{% endblock %}

{% block body %}
<div class="panel panel-default">
  <div class="panel-body">
    {% blocktrans trimmed with user_full_name=user_full_name %}
    Bonjour {{ user_full_name }}! Remplissez les formulaire suivant pour vous inscrire.
    {% endblocktrans %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p>
      {% blocktrans trimmed with current_step=wizard.steps.step1 total_steps=wizard.steps.count %}
      Step {{ current_step }} of {{ total_steps }}
      {% endblocktrans %}
    </p>
    <form action="" method="post">{% csrf_token %}
    <table>
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {{ form }}
        {% endfor %}
    {% else %}
        {{ wizard.form }}
    {% endif %}
    </table>
    {% if wizard.steps.prev %}
    <button name="wizard_goto_step" type="submit" class="btn btn-light" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
    <button name="wizard_goto_step" type="submit" class="btn btn-light" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
    {% endif %}
    <input type="submit" class="btn btn-primary" value="{% trans "submit" %}"/>
    </form>
  </div>
</div>
{% endblock %}
