{% extends "site_base.html" %}
{% load i18n %}

{% block body %}
<div class="jumbotron">
  <h1>Inscription à I Skate Paris</h1>
  <p>L'inscription au club se fait en ligne.</p>
  <p>Suivez les étapes présentez pour vous inscrire. Munissez vous d'une photo d'identité et de votre certificat médicale.</p>
  <p>La première étape pour l'inscription est d'avoir un compte sur le forum. Cliquez sur le bouton suivant, et connectez vous au forum. Si vous êtes déjà connecté au forum, cette étape sera automatiquement passé. Si vous n'avez pas de compte sur le forum, vous pourrez en créer un.</p>
  <p><a class="btn btn-primary btn-lg" href="{% url "registration_step2" %}" role="button">Étape suivante</a></p>
</div>
{% endblock %}
