from .default import *

DEBUG = True
TEMPLATES[0]['OPTIONS']['debug'] = DEBUG

if DEBUG:
    EMAIL_BACKEND = "django.core.mail.backends.console.EmailBackend"
EMAIL_HOST = 'smtp.example.com'
EMAIL_PORT = 587
EMAIL_HOST_USER = 'user'
EMAIL_HOST_PASSWORD = 'password'
DEFAULT_FROM_MAIL = 'sender@example.com'

if DEBUG:
    INSTALLED_APPS.append('debug_toolbar')
    INSTALLED_APPS.append('django_extensions')
    MIDDLEWARE.insert(0, 'debug_toolbar.middleware.DebugToolbarMiddleware')
    INTERNAL_IPS = ('127.0.0.1', )

DISCOURSE_SSO_KEY = ''
DISCOURSE_SSO_REDIRECT = 'http://localhost:8000/accounts/sso/create-session'
DISCOURSE_HOST = 'discourse.example.com'
DISCOURSE_API_KEY = ''

# Go to https://stripe.com/ and grab your keys and put here
PINAX_STRIPE_SECRET_KEY = ""  # begins with sk_
PINAX_STRIPE_PUBLIC_KEY = ""  # beings with pk_

